.header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(61, 61, 61, 0.5);
  text-align: center;
  font-size: 20px;
  z-index: 1000;
  transition: .5s;
}

.sticky{
  top: 0;
  width: 100%;
  height: 75px;
  margin-top: 0;
  font-size: 16px;

  .nav-cntr{
    line-height: 70px;
  }

  img{
    width: 6em;
  }
}

.inner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: inherit;
  margin: 0 auto;
  vertical-align: bottom;
  transition: .5s;

  .image{
    text-align: left;
    vertical-align: bottom;

    img{
      width: 6em;
      transition: .5s;
    }
  }
}

.quick-info{
  color: white;
  font-size: 12px;
  padding: 0;
  margin-top: auto;
  line-height: 12px;
  text-align: center;
  vertical-align: bottom;

  i{
    padding: 0px 3px 0px 15px;
  }
  .address{
    padding: 0;
    margin: 0;
  }
  .cta{
    margin: 0;
  }
  .cta button{
    margin: 5px 15px 0 15px;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #63e76e;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .cta button:hover {
    background-color: #53b85b;
  }
  .cta button:active {
    background-color: rgb(18, 81, 153);
    transform: translateY(2px);
  }
}

.nav-cntr{
  width: 100%;
  line-height: 95px;
  padding: 0;
  text-align: right;
  z-index: 1000;

  ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li{
    display: inline-block;
    font-size: 1em;
    height: 100%;
  }
  
  li a{
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    transition: .5s;
  }
  
  .active{
    border-bottom: 5px solid #900000;
  }

  li:hover a{
    border-bottom: 5px solid #900000;
    color: rgb(184, 184, 184);
  }

  a:link {
    color: white;
  }
  
  a:visited{
    color: white;
  }
  
  a.selected{
    color: red;
  }
}

.side-menu-cntr{
  width: 50px;
  height: 50px;
  background-color: rgba(61, 61, 61, 0);
  z-index: 1000;
  transition: .4s;
  position: fixed;
  top: 25px;
  right: 15px;

  .menu-bars-cntr{
    cursor: pointer;
    float: left;
    padding: 5px 5px 5px 10px;
  
    .bar1, .bar2, .bar3{
      width: 35px;
      height: 5px;
      background-color: white;
      border: 1px solid white;
      border-radius: 25%;
      margin: 6px 0;
    }
  }
  
  .change{
    .bar1{
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    .bar2 {opacity: 0;}
    .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
  .menu-bars-cntr:hover > .bar1, .menu-bars-cntr:hover > .bar2, .menu-bars-cntr:hover > .bar3{
    background-color: gray;
    border: 1px solid gray;
  }
}

input{
  display: none;
  margin: 0 10px;
  width: 300px;
  height: 30px;
}


@media(min-width:500px){
  .quick-info{
    font-size: 14px;
    line-height: 14px;
  }
}

@media(min-width:600px){
  .quick-info{
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
  }
  .image{
    img{
      width: 8em;
    }
  }
}

@media(min-width:900px){
  .nav-cntr{
    ul{
        display: inline;
    }
  }
  .side-menu-cntr{
      display: none;
  }
}

@media(min-width:1000px){
  .inner-container{
    width: 85%;
  }
}

@media(min-width:1300px){
  .phone, .address, .cta{
    display: inline;
  }
  .inner-container{
    width: 60%;
  }
  .sticky{
    .inner-container{
      width: 50%;
    }
  }
}