<div id="header">
    <div class="container">
        <div class="inner-container">
            <div class="image"><img src="../../assets/sample_logo.png"></div>
            <div class="quick-info">
                <i class="glyphicon glyphicon-earphone"></i><span>(303)856-8855</span>
                <i class="glyphicon glyphicon-map-marker"></i><span>1234 S Some St. Aurora, CO 80011</span>
                <div class="cta"><button class="cta" >Get a FREE Quote</button></div>
            </div>
        </div>
    </div>
    <app-reg-menu></app-reg-menu>
</div>