@mixin fluid-type($properties, $minvw, $maxvw, $minval, $maxval) {
    @each $property in $properties {
      #{$property}: $minval;
    }
  
    @media screen and (min-width: $minvw) {
      @each $property in $properties {
        #{$property}: calc(#{$minval} + #{strip-unit($maxval - $minval)} * (100vw - #{$minvw}) / #{strip-unit($maxvw - $minvw)});
      }
    }
  
    @media screen and (min-width: $maxvw) {
      @each $property in $properties {
        #{$property}: $maxval;
      }
    }
}

div.container{
  float: left;
  position: relative;
  width: 70%;
  left: 15%;
  padding: 0;
  margin: 0;
  background-color: #900000;
}

div.quick-info{
  float:right;
  position: absolute;
  color: white;
  bottom: 5%;
  right: 0;
  font-size: 16px;
}

div > i {
  padding: 0px 3px 0px 15px;
  line-height: 30px;
}

div.cta{
  float:right;
  line-height: 0;
}

div.cta button{
  margin: 0 15px;
  padding: 17px 30px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(24, 110, 207);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

div.cta button:hover {
  background-color: rgb(18, 81, 153);
}

div.cta button:active {
  background-color: rgb(18, 81, 153);
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

div.image{
  float:left;
  width: 192px;
  height: 110;
}

img{
  width: 192px;
}