.container{
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(#777777, #4b4b4b);
  border-bottom: 5px solid #900000;
}

.inner-container{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
  vertical-align: bottom;
}

.image{
  text-align: left;
  vertical-align: bottom;
  margin-top: auto;
}

img{
  width: 120px;
}

.quick-info{
  color: white;
  font-size: 12px;
  padding: 0;
  margin-top: auto;
  line-height: 12px;
  text-align: center;
  vertical-align: bottom;

  i{
    padding: 0px 3px 0px 15px;
  }
  .address{
    padding: 0;
    margin: 0;
  }
  .cta{
    margin: 0;
  }
  .cta button{
    margin: 5px 15px 0 15px;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #63e76e;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .cta button:hover {
    background-color: #53b85b;
  }
  .cta button:active {
    background-color: rgb(18, 81, 153);
    transform: translateY(2px);
  }
}
@media(min-width:500px){
  .quick-info{
    font-size: 14px;
    line-height: 14px;
  }
}

@media(min-width:600px){
  .quick-info{
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
  }
  img{
    width: 180px;
  }
}

@media(min-width:1000px){
  .inner-container{
    width: 85%;
  }
}

@media(min-width:1300px){
  .phone, .address, .cta{
    display: inline;
  }
  .inner-container{
    width: 70%;
  }
}