.ctnr{
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/engineblur2.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat-y;
    background-size: 100%;
}

//hero image
.bg-image{
    position: relative;
    vertical-align: middle;
}
img{
    max-width: 100%;
}

.hero-text{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 50%;
    *{
        transform-origin: top;
        transform: scale(1,0);
    }
    h1:before{
       content: "We Don't Care What They Say...";
       animation: textchange 0s forwards 3s;
    }
    h1{
        text-transform: uppercase;
        font-size: 3em;
        font-weight: 900;
    }
    h2{
        font-size: 1em;
        font-weight: 100;
    }
}

.spacer{
    width: 100%;
    height: 100px;
}

.hspacer{
    width: 100%;
    height: 10px;
    background-color: #900000;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
}

.section-header{
    text-align: center;
    h1{
        color: white;
        font-size: 5em;
        font-weight: 900;
        padding: 10px 0 25px 0;
        margin: 0 auto;
        text-transform: uppercase;
    }
    h2{
        color: white;
        font-size: 4em;
        margin: 0;
        padding: 25px;
    }
}

.section > .hspacer{
    margin: 0 auto;
    width: 70%;
    height: 5px;
}

#s1{
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.inner-section{
    vertical-align: middle;
    width: 70%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    .text{
        vertical-align: middle;
        width: 40%;
        color: white;
        padding: 0 15px;
        margin: auto 0;
        h2{
            font-size: 3em;
            border-bottom: 2px solid #900000;
        }
        p{
            font-size: 1.25em;
        }
    }
    .icon-ctnr{
        vertical-align: middle;
        width: 50%;
        ul{
            padding: 0;
        }
        li{
            display: inline-block;
            img{
                width: 150px;
                padding: 15px;
            }
        }
    }
}

.parts{
    text-align: left;
    .text{
        align-self: flex-start;
    }
    .icon-ctnr{
        align-self: flex-end;
        ul{
            text-align: right;
        }
    }
}

.makes{
    text-align: right;
    .text{
        align-self: flex-end;
    }
    .icon-ctnr{
        align-self: flex-start;
        ul{
            text-align: left;
        }
    }
}

.repair-icons-ctnr{
    color: white;
    margin: 40px auto;
    ul{
        padding: 0;
    }
    li{
        width: 25%;
        display: inline-block;
        text-align: center;
        margin: 25px auto;
        vertical-align: top;
        .icon-info{
            width: 85%;
            margin: 0 auto;
            h3, p{ transform-origin: top }
            h3{
                font-size: 2em;
            }
            p{
                font-size: 1.25em;
                text-align: center;
            }
        }
    }

}

#s2{
    background-color: rgba(53, 53, 53, 0.9);
    position: relative;
    padding: 25px;
    h1{
        margin: 0;
        padding: 0;
    }
}

.inner-section-about{
    text-align: center;
}

.point-ctnr{
    display: inline-block;
    color: black;
    text-align: left;
    max-width: 30%;
    margin: 50px 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;

    .point{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon{
            align-items: flex-start;
            width: 75px;
            text-align: center;
            img{
                width: 50px;
            }
        }
        .text{
            p{
                padding: 0;
                margin: 0;
            }
            h3{
                margin: 0 0 10px 0;
                color: #900000;
            }
            align-items: flex-end;
        }
    }
    .learn-more{
        display: none;
        text-align: center;
        color: black;
        h3{
            margin: 0;
            padding: 20px 0;
            font-size: 3em;
        }
    }
}

#s3{
    width: 100%;
    margin: 0;
    padding-bottom: 25px;
    text-align: center;
    >.hspacer{
        width: 50%;
        margin: 0 auto 25px auto;
    }
}

.testimonial-ctnr{
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: space-between;
}

.testimonial{
    width: 23%;
    min-width: 300px;
    height: 250px;
    background: white;
    margin: 15px auto;
    border-radius: 25px;
    text-align: left;
    padding: 0 25px;
    .top-ctnr{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .info, .stars{
        display: block;
        width: 100%;
    }

    .stars{
        font-size: 20px;
    }
    .hspacer{
        width: 100%;
        height: 2px;

    }
    .checked{
        color: gold;
    }
}

button{
    background-color: transparent;
    border: 2px solid #900000;
    padding: 10px;
    font-size: 1em;
    transition: .5s;
    font-weight: bold;
    color: white;
    margin: 15px;
    width: 250px;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    text-transform: uppercase; 
}

button:hover{
    background-color: rgba(146, 0, 0, 0.5);
}

#s4{
    text-align: center;
    padding: 150px 0 150px 0;
    background: no-repeat url("../../assets/dragstrip.jpg");
    background-size: cover;
    height: 600px;
    h1,h2{
        margin: 0 auto; padding: 0;
    }
    .subheader{
        color: white;
        text-align: center;
        margin: 0 auto;
        opacity: 0;
        transform-origin: top;
        h2{
            font-size: 2em;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
            width: 40%;
        }
    }
    .button-ctnr{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin: 50px auto;
        width: 650px;

        button{
            width: 300px;
            background: rgba(128, 128, 128, 0.75);
        }
        .emphasis{
            background: #900000;
        }
        button:hover{
            background: rgba(146, 0, 0, 0.25);
        }
    }
}


//init animated elements 
.animated.fadein{
    opacity: 0;
}

.animated.zm, .animated.zm-over{
    transform: scale(0);
}


.animated.ltor{
    transform: translateX(-2000px);
}

.animated.rtol{
    transform: translateX(2000px);
}

.animated.down{
    transform: scale(1,0);
}

.animated.pulse{
    transform: scale(.5);
    opacity: 0;
}

//set elements animation
.start.fadein{
    animation: fadein 2s forwards;
}

.start.zm{
    animation: fadein 1s forwards, zm 1s forwards;
}

.start.zm-over{
    animation: zm-over 1s forwards ease-out;
}

.start.ltor{
    animation: ltor 1s forwards;
}

.start.rtol{
    animation: rtol 1s forwards;
}

.start.down{
    animation: fadein 1s forwards, down 1s forwards;
}

.start.pulse{
    animation: fadein 2s forwards 2s, zm 2s forwards ease-in-out 2s, pulse 3s linear 4s infinite forwards;
}

.start.fadeinout{
    animation: fadein 1s forwards, down 1s forwards, fadeout 1s forwards 2s, fadein 1s forwards 3s;
}

.start.textchange{
    animation: textchange 0s forwards 3s;
}

//animations
@keyframes fadein{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout{
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes zm{
    from {
        transform: scale(.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes zm-over{
    0%{
        transform: scale(0);
    }
    10%{
        transform: scale(.5);
    }
    20%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes ltor{
    from {
        transform: translateX(-2000px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rtol{
    from {
        transform: translateX(2000px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes down{
    from{
        transform: scale(1,0);
    }
    to{
        transform: scale(1,1);
    }
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes textchange{
    to{
        content: "Performance matters"
    }
}

@media(min-width:600px){
    .hero-text{
        h1{
            display: block;
        }
    }
}
@media(min-width:1150px){
    .hero-text{
        h1{
            font-size: 6em;
        }
        h2{
            font-size: 2em;
        }
    }
    button{
        font-size: 1.5em;
    }
}

@media(min-width:1350px){
    .testimonial{
        .top-ctnr{
            flex-direction: row;
        }
    }
}