<div class="container">
    <div class="bg-image"><img src="../../assets/carss3.jpg"></div>
    <div class="card-container">
        <div class="card" id="1">
            <img src="../../assets/supercharger.jpg">
            <h1>Performance</h1>
            <p>
                Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything
            </p>
            <button [routerLink]="['/services']">Performance</button>>
        </div>
        <div class="card" id="2">
            <img src="../../assets/supercharger.jpg">
            <h1>Repair</h1>
            <p>
                Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything
            </p>
            <button [routerLink]="['/services']">Repair</button>
        </div>
        <div class="card" id="3">
            <img src="../../assets/supercharger.jpg">
            <h1>Products</h1>
            <p>
                Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything Some text talking about anything
            </p>
            <button [routerLink]="['/products']">Products</button>
        </div>
    </div>
</div>