<div class="ss-ctnr animated-ctnr">
  <div class="slideshow-container animated fadein">
    <div class="image"><img *ngFor="let slide of slides; let i = index" [hidden]="!isCurrentSlide(i)" class="slide" src={{slide.src}}></div>
    <div class="left-icon" (click)="prevSlide()"><i id="left" class="glyphicon glyphicon-chevron-left"></i></div>
    <div class="right-icon" (click)="nextSlide()"><i id="right" class="glyphicon glyphicon-chevron-right"></i></div>

    <div class="dot-container">
      <span class="dot" (click)="setSlide(0)"></span>
      <span class="dot" (click)="setSlide(1)"></span>
      <span class="dot" (click)="setSlide(2)"></span>
      <span class="dot" (click)="setSlide(3)"></span>
      <span class="dot" (click)="setSlide(4)"></span>
      <span class="dot" (click)="setSlide(5)"></span>
      <span class="dot" (click)="setSlide(6)"></span>
      <span class="dot" (click)="setSlide(7)"></span>
      <span class="dot" (click)="setSlide(8)"></span>
      <span class="dot" (click)="setSlide(9)"></span>
    </div>
  </div>
</div>