<div class="slideshow-container">
  <div class="image"><img *ngFor="let slide of slides; let i = index" [hidden]="!isCurrentSlide(i)" class="slide" src={{slide.src}}></div>
  <div class="img-text"><h1>Service You Can Trust</h1></div>
  <div class="left-icon"><i id="left" class="glyphicon glyphicon-chevron-left" (click)="prevSlide()"></i></div>
  <div class="right-icon"><i id="right" class="glyphicon glyphicon-chevron-right" (click)="nextSlide()"></i></div>

  <div class="dot-container">
    <span class="dot" (click)="setSlide(0)"></span>
    <span class="dot" (click)="setSlide(1)"></span>
    <span class="dot" (click)="setSlide(2)"></span>
  </div>
</div>
