@mixin fluid-type($properties, $minvw, $maxvw, $minval, $maxval) {
    @each $property in $properties {
      #{$property}: $minval;
    }
  
    @media screen and (min-width: $minvw) {
      @each $property in $properties {
        #{$property}: calc(#{$minval} + #{strip-unit($maxval - $minval)} * (100vw - #{$minvw}) / #{strip-unit($maxvw - $minvw)});
      }
    }
  
    @media screen and (min-width: $maxvw) {
      @each $property in $properties {
        #{$property}: $maxval;
      }
    }
}

.quick-info{
    position: absolute;
    right: 0%;
    bottom: 80%;
    padding: 0 0 2vw 0;
}
.quick-info span{
    font-size: 1.25vw;
    padding: 1.5vw;
}

ul{
    list-style-type: none;
    margin: 1vw 0 1.3vw 0;
    height: 1.7vw;
    vertical-align: 0%;
}

li{
    float: right;
    font-size: 1.5vw;
    padding-left: .5vw;
    padding-right: .5vw;
}

li a{
    text-decoration: none;
    padding-bottom: 0%;
}

a:link {
    color: black;
}

a:visited{
    color: black;
}

a.selected{
    color: red;
}

a:hover{
    color:gray;
}